<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

@{
	ViewBag.Title = "Home";
}

<div class="container wrap-home">
	<div class="box-home">
		<div>
			<h1>Dashboard To-Do</h1>
			<p>O que você vai fazer hoje?</p>
		</div>
		<img src="~/Illustration/illustrationHome.svg" alt="Illustration Home">
	</div>
</div>