@using TodoList.Domain.Enum
@model IEnumerable<TodoList.Application.DTOs.ToDoListDTO>
@{
	ViewBag.Title = "Status";
}

<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
<body>
	<div class="container-task">
		<div class="wrap-task-status">
			@foreach (var statusAgrupado in Model.GroupBy(x => x.Status))
			{
				<div>
					<h1>@statusAgrupado.Key</h1>

					@foreach (var item in statusAgrupado)
					{
						<div class="task-status">
							<h3>@item.Title</h3>
							<p>
								<span>Início:</span> @item.StartDate.ToString("dd/MM/yyyy hh:mm tt")

								@if (item.EndDate != new DateTimeOffset())
								{
									<span>Fim:</span> @item.EndDate.ToString("dd/MM/yyyy hh:mm tt")
								}
							</p>
						</div>
					}
				</div>
			}
		</div>
	</div>
</body>
</html>
